
# SET HTTP PROXY HERE
# Example:
#YOUR_HTTP_PROXY=http://192.168.1.101:8888
YOUR_HTTP_PROXY=

# SET YOUR INVIDIOUS INSTALL DIR HERE
INV_INSTALL_DIR=/home/invidious/invidious/

# SET ITU LOG FILE LOCATION HERE
ITU_LOG_FILE=${SCRIPT_PATH}/logs/token-updater.log

# SET INVIDIOUS SERVICE NAME
INVIDIOUS_SERVICE_NAME="invidious"

# SET WETHER INV_SIG_HELPER IS DOCKER (true = docker , false = service)
ISH_ISDOCKER=true

# SET INV_SIG_HELPER DOCKER CONTAINER / SERVICE NAME
ISH_CONT_SERVICE_NAME="inv_sig_helper"