#!/usr/bin/env bash

# SET HTTP PROXY HERE
YOUR_HTTP_PROXY=http://192.168.1.201:8888

# SET YOUR ITU INSTALL DIR HERE
ITU_INSTALL_DIR=~/invidious-token-updater/

# SET YOUR INVIDIOUS INSTALL DIR HERE
INV_INSTALL_DIR=~/invidious/

# SET ITU LOG FILE LOCATION HERE
ITU_LOG_FILE=~/invidious-token-updater/logs/token-updater.log

# SET INVIDIOUS SERVICE NAME
INV_SERVICE_NAME="invidious"

# SET DOCKER INV_SIG_HELPER CONTAINER NAME
INV_SIG_HELPER_CONTAINER_NAME="inv_sig_helper"
